<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>834136799689-lebk2r93vto8pumfrkfo1bdt9sh2trlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834136799689-lebk2r93vto8pumfrkfo1bdt9sh2trlg</string>
	<key>API_KEY</key>
	<string>AIzaSyAjxC5jLNGfciWZN9l5NCNv8cmjqqSEbys</string>
	<key>GCM_SENDER_ID</key>
	<string>834136799689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JJ.Final-Assessment-JunJie</string>
	<key>PROJECT_ID</key>
	<string>finalassessmentjunjie</string>
	<key>STORAGE_BUCKET</key>
	<string>finalassessmentjunjie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:834136799689:ios:8e2dc74222a25097</string>
	<key>DATABASE_URL</key>
	<string>https://finalassessmentjunjie.firebaseio.com</string>
</dict>
</plist>